body{
    background-color: rgb(91, 91, 91);
}
.title{
    color: white;
    text-align: center;
}
.input{
    color: white;
}
#textbox{
    background-color: rgb(233, 233, 233);
}
#textbox:focus{
    background-color: wheat;
}
.list{
    width: fit-content;
    height: auto;
}
#listItem{
    padding-bottom: 5px;
}
#done{
    width:15px;
    height:15px;
    background:white;
}
#remove{
    margin-left: 10px;
}